body{
    font-family: ff-tisa-web-pro, serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    margin: 128px 0;
    color: #000000;
}
body a{
    color: #2b72e7;
    transition: color .25s;
}
body a:hover{
    text-decoration: none;
    color: #1e4e9c;
}
.container{
    max-width: 1150px;
}
.container .col-md-8{
    padding-right: 45px;
}
/* article */
.article-header{
    margin-bottom: 35px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 20px;
}
.article-header h1{
    font-size: 36px;
    margin-bottom: 0px;
}
.article-header .author{
    color: #777777;
    font-size: 24px;
}
.article-content img{
    margin-top: 6px;
    margin-right: 25px;
    margin-bottom: 10px;
}
.article-content p{
    line-height: 22px;
    margin-bottom: 25px;
}
.btn-container{
    float:left;
    width: 100%;
    margin-top: 30px;
}
.btn-primary{
    border-radius: 4px;
    border: 1px solid #c6c6c6;
    background-image: linear-gradient(to top, #e0e0e0 0%, #ffffff 100%);    
    color: #000000;
    font-size: 18px;
    font-style: italic;
    padding: 12px 22px;
    line-height: 18px;
    transition: all .25s;
}
.btn-primary:hover{
    background-image: linear-gradient(to top, #e0e0e0 100%, #ffffff 0%);
    border: 1px solid #c6c6c6;
    color: #000000;
}
/* sidebar */
.sidebar{
    border-radius: 6px;
    border: 1px solid #c6c6c6;
    background-color: #f5f5f5;
    padding: 28px;
    overflow: auto;
}
.sidebar .fact{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.sidebar .fact .field{
    text-align:left;
    float:left;
    width: 33%;
    line-height: 21px;
}
.sidebar .fact .data img{
    width: 100%;
    max-width: 200px;
}
.sidebar .fact .data{
    text-align: left;
    float: left; 
    width: 66%;
    padding-left: 3%;
    line-height: 21px;
}
.sidebar .fact .data .notable-item{
    font-style: italic;
    margin-bottom: 23px;
}
@media (max-width: 1200px){
    .sidebar{
        padding: 20px;
    }
    .sidebar .fact .field{
        max-width: 90px;
        width: 29%;
    }
    .sidebar .fact .data{
        width: 71%;
        padding-left: 14%;
    }
}
@media (max-width: 991px){
    body{
        margin: 58px 0;
    }
    .sidebar{
        margin-top: 40px;
        float: left;
    }
    .btn-container{
        margin-top: 10px;
    }
}